/* ============================================ */
/********** Taille de l'app par défaut **********/
/* ============================================ */

.pane {
	-fx-pref-width: 1000;
    -fx-pref-height: 600;
    -fx-background-color: white	;
}


/* ===================================== */
/********** Elements du bandeau **********/
/* ===================================== */

.bouton-menu {
	-fx-translate-y: 23;
	-fx-translate-x: 28;
	
	-fx-pref-width: 228;
    -fx-pref-height: 70;
	
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 32px;
    -fx-background-radius: 20;
    -fx-padding: 0;
    
    -fx-border-color: black;
    -fx-border-width: 3;
    -fx-border-radius: 20;
    -fx-border-style: solid;
}

.bandeau {
	-fx-background-color: #016401;
	-fx-alignment: center;

	-fx-translate-y: 37;
	-fx-pref-width: 1000;
    -fx-pref-height: 65;
}

.titre {
	-fx-text-fill: #FFFFFF;
	-fx-font-size: 32px;
	-fx-font-weight: bold;
}

.bouton-aide {
	-fx-background-radius: 360;
	-fx-background-color: #FFFFFF;
    -fx-font-weight: bold;
    -fx-padding: 0;
    -fx-font-size: 32px;
    
    -fx-translate-x: 370;
    -fx-pref-width: 48;
    -fx-pref-height: 48;
}


/* ========================================== */
/********** Elements du Menu latéral **********/
/* ========================================== */

/* modification bandeau */
.bandeau-modifier {
	-fx-background-color: #016401;
	-fx-alignment: center;
	-fx-translate-y: 37;
	-fx-translate-x: 300;
	-fx-pref-width: 700;
    -fx-pref-height: 65;
}

/* modification bandeau du bouton aide */
.bouton-aide-modifier {
	-fx-background-radius: 360;
	-fx-background-color: #FFFFFF;
    -fx-font-weight: bold;
    -fx-padding: 0;
    -fx-font-size: 32px;
    
    -fx-translate-x: 220;
    -fx-pref-width: 48;
    -fx-pref-height: 48;
}

.menu {
	-fx-background-color: #CCF5F3;
	-fx-translate-x: 15;
	-fx-pref-width: 285;
    -fx-pref-height: 600;
    -fx-spacing: 15px;
    -fx-padding: 25 0 0 25;
}

.menu-bandeau-bleu {
	-fx-background-color: #00BBB0;
	-fx-pref-width: 15;
    -fx-pref-height: 600;
}

.bouton-menu-modifier {
	-fx-pref-width: 224;
    -fx-pref-height: 70;
	
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-font-size: 32px;
    -fx-background-radius: 20;
    -fx-padding: 0;
    
    -fx-border-color: black;
    -fx-border-width: 3;
    -fx-border-radius: 20;
    -fx-border-style: solid;
}

.les-boutons-menu {
	-fx-pref-width: 224;
    -fx-pref-height: 70;
	
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-font-size: 32px;
    -fx-background-radius: 150;
    -fx-padding: 0;
    
    -fx-border-color: #00BBB0;
    -fx-border-width: 3;
    -fx-border-radius: 150;
    -fx-border-style: solid;
}


/* =================================== */
/********** hover des boutons **********/
/* =================================== */

.bouton-menu:hover {
    -fx-background-color: #00BBB0;
    -fx-cursor: hand;
}
.bouton-aide:hover {
    -fx-background-color: #00BBB0;
    -fx-cursor: hand;
}
.les-boutons-menu:hover {
    -fx-background-color: #00BBB0;
    -fx-cursor: hand;
}
.bouton-menu-modifier:hover {
    -fx-background-color: #00BBB0;
    -fx-cursor: hand;
}
.bouton-aide-modifier:hover {
    -fx-background-color: #00BBB0;
    -fx-cursor: hand;
}